<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<table id="nav-menu" width="100%" class="table table-hover">
    <tr>
        <td align="center">
            <table>
                <tr>
                    <td sec:authorize="hasAnyAuthority('USER')"><a th:href="@{/manager}">Manager</a></td>
                    <td sec:authorize="hasAnyAuthority('USER')"><a th:href="@{/history}">History</a></td>
                    <td sec:authorize="hasAnyAuthority('USER')"><a th:href="@{/manager/newHouse}">Add House</a></td>
                    <td sec:authorize="hasAnyAuthority('USER')"><a th:href="@{/values/create}">Add Value</a></td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>
</html>