<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Добавить Счетчик</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<form th:action="@{/counter/saveCounter}" th:object="${counter}" method="post" class="form-horizontal">
    <table border="1" class="table table-hover">
        <tr>
            <td>Счетчик</td>
            <td>Тип</td>
        </tr>
        <tr th:if="${counters.size() > 0}" th:each="c : ${counters}">
            <td th:text="${c.name}"></td>
            <td th:text="${c.type}"></td>
        </tr>
        <tr>
            <td><input type="text" th:field="*{name}"/></td>
            <td>
                <select name="type">
                    <option th:each="r : ${T(com.kuznetsovka.managercounters.domain.Type).values()}"
                            th:value="${r}" th:text="${r}"></option>
                </select>
            </td>
        </tr>
    </table>
    <button type="submit">Добавить счетчик</button>
</form>
<form th:action="@{/counter/continue}" method="post" class="form-horizontal">
    <button type="submit">Готово</button>
</form>
</body>
</html>