<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Добавить значение</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<form th:action="@{/counter/newValue}" th:object="${values}" method="post">

    <span th:if="${counters.size() == 0}">Counters list is empty</span>
    <table th:if="${counters.size() > 0}" class="table table-hover" th:each="counter : ${counters}">
        <thead class="thead-dark">
        <tr>
            <td>Счетчик</td>
            <td>Значение</td>
        </tr>
        <tr th:each="value : ${counter.values}">
            <td th:text="${counter.name}"></td>
            <td><input type="number" name = "value" th:value="${value.value}"/> </td>
        </tr>
    </table>

    <button id="send" type="submit">Добавить</button>
</form>
</body>
</html>