<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Values</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Add Values </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form action="#" class="form-horizontal"
                  th:action="@{/values/save}"
                  th:object="${form}"
                  method="post">
                <div th:insert="~{fragments/user :: #nav-menu}"></div>
                <fieldset>
					<span class="pull-right">
						    <input type="submit" id="submitButton" class="btn btn-success" th:value="Save">
						    <input type="reset" id="resetButton" class="btn btn-danger" th:value="Reset"/>
					</span>
                    <table class="table" >
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="valueDto, itemStat : ${form.values}">
                            <td>
                                <input th:name="|values[${itemStat.index}].type|" th:value="${valueDto.getType()}"/>
                            </td>
                            <td>
                                <input th:name="|values[${itemStat.index}].value|" th:value="${valueDto.getValue()}"/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>