<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Values</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Add Values </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form action="#" class="form-horizontal"
                  th:action="@{/values/save}"
                  th:object="${form}"
                  method="post">
                <fieldset>
					<span class="pull-right">
						    <input type="submit" id="submitButton" class="btn btn-success" th:value="Save">
						    <input type="reset" id="resetButton" class="btn btn-danger" th:value="Reset"/>
					</span>
                    <table class="table">
                        <thead>
                        <tr>
                            <th> Type</th>
                            <th> Value</th>
                        </tr>
                        </thead>
                        <tbody>
<!--                        <tr th:each="instance : ${map}">-->
<!--                            <td th:text="${instance.key}">key</td>-->
<!--                            <td th:each="listObject : ${instance.value}">-->
<!--                                <th:block th:number="${value}">0.0</th:block>-->
<!--                            </td>-->
<!--                        </tr>-->
                        <tr th:each="instance,itemStat : ${map}">
                            <td>
                                <th:block th:text="${instance.key[__${itemStat.index}__].type}"/>
                            </td>
                            <td>
                                <th:block input th:placeholder="Value + ' ' + ${itemStat.count}" th:field="${instance.value[__${itemStat.index}__].value}" required/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>